;; shadow-cljs configuration
{:deps  true
 :nrepl {:port 9999}
 :dev-http {8888 {:root "cljsdev"}}
 :builds
        {;:workspaces
         ;    {:target     :browser
         ;     :output-dir "resources/public/js/workspaces"
         ;     :asset-path "/js/workspaces"
         ;     :devtools   {:preloads           [devtools.preload fulcro.inspect.preload]
         ;                  :after-load         nubank.workspaces.core/after-load
         ;                  :loader-mode        :eval
         ;                  :http-root          "resources/public"
         ;                  :http-port          3655
         ;                  :http-resource-root "."}
         ;     :modules    {:main {:entries [myapp.workspaces.main]}}}

         :tictactoe-reagent
         {:target     :browser
          :output-dir "cljsdev/js"
          :asset-path "/js"
          :devtools   {:preloads [devtools.preload]}
          :modules    {:main {:entries [com.github.matrixnorm.tictactoe-reagent.run]}}
          :release    {:output-dir "docs/tictactoe-reagent/js"}}

         ;:tictactoe-reagent-test
         ;{:target     :browser
         ; :output-dir "cljsdev/tictactoe-reagent/js/test"
         ; :devtools   {:preloads    [devtools.preload]
         ;              :loader-mode :eval
         ;              :http-root   "cljsdev/tictactoe-reagent"
         ;              :http-port   3655}}

         :tictactoe-reagent-sw
         {:target     :browser
          :output-dir "cljsdev/js"
          :build-hooks
            [(com.github.matrixnorm.shadow-tools.core/index-html
               "src/com/github/matrixnorm/tictactoe_reagent_sw/index.html")]
          :asset-path "/js"
          :devtools {:preloads [devtools.preload]}
          :modules {:main
                      {:entries [com.github.matrixnorm.tictactoe-reagent-sw.core]}}
          :release {:output-dir "docs/tictactoe-reagent-sw/js"}}

         :tictactoe-reagent-sw-service-worker
         {:target     :browser
          :output-dir "cljsdev/sw"
          :asset-path "/sw"
          :devtools {:preloads [devtools.preload]}
          :modules {:service-worker
                      {:entries [com.github.matrixnorm.tictactoe-reagent-sw.sw]
                       :web-worker true}}
          :release {:output-dir "docs/tictactoe-reagent-sw/sw"}}

         :bidi-routing
         {:target     :browser
          :output-dir "cljsdev/js"
          :build-hooks
                      [(com.github.matrixnorm.shadow-tools.core/index-html)]
          :asset-path "/js"
          :devtools {:preloads [devtools.preload]}
          :modules {:main
                    {:entries [com.github.matrixnorm.bidi-routing.core]}}
          :release {:output-dir "docs/bidi-routing/js"}}

         :reitit-routing
         {:target     :browser
          :output-dir "cljsdev/js"
          :build-hooks
                      [(com.github.matrixnorm.shadow-tools.core/index-html)]
          :asset-path "/js"
          :devtools {:preloads [devtools.preload]}
          :modules {:main
                    {:entries [com.github.matrixnorm.reitit-routing.core]}}
          :release {:output-dir "docs/reitit-routing/js"}}

         :serene-hello
         {:target     :browser
          :output-dir "cljsdev/js"
          :build-hooks
                      [(com.github.matrixnorm.shadow-tools.core/index-html)]
          :asset-path "/js"
          :devtools {:preloads [devtools.preload]}
          :modules {:main
                    {:entries [com.github.matrixnorm.serene-hello.core]}}
          :release {:output-dir "docs/reitit-routing/js"}}}}
