;; shadow-cljs configuration
{:source-paths
 ["src_cljs" "__gen__/babel_gen"]
 ;; :dev-http {8080 "cljs_build"}
 :builds
 {:cities-app {:target :browser
               :output-dir "__gen__/cljs_build/js"
               :modules {:main {:entries [cljs.cities-app.main]}}}
  
  :test {:target    :node-test
         :output-to "__gen__/cljs_build/node-tests.js"
         :ns-regexp "-test$"
         :autorun   true}}}
